*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}


.grid-container{
    padding: 10px;
    height: 100vh;
    background-color:antiquewhite;
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu main main main main'
    'menu right right left left ';
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    gap: 10px;
}

.grid-item{
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}


.grid-item:nth-child(even){
    background-color: lightcoral;
}

#grid-header{
    grid-area: header;
    grid-column: 1 / -1;
}

#grid-content{
    grid-row:auto;
    grid-area: menu; 
}

#item3{
    
    grid-area: main;
    grid-column: 2 / -1;
    background-color: rgb(200, 174, 224);
}

#item4{
    grid-area: right;
    background-color: lightgreen;
}

#item5{
    grid-area: left;
    background-color: lightskyblue;
}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #e796d5 0%, #42063f 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}