*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}


.grid-container{
    padding: 10px;
    height: 100vh;
    background-color:antiquewhite;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.grid-item{
    padding: 10px;
    margin: 10px;
}

.item1{
    background-color: darkseagreen;
}

.item2{
    background-color: rgb(195, 171, 193);
}

.item3{
    background-color: rgb(240, 182, 202);
}

.item4{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    background-color: rgb(197, 182, 240);
}

#gridlayout{
    padding: 10px;
    height: 1vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* grid-template-areas: 
    'header header header header'
    'right right left left ';*/
}

.inner1{
    padding: 10px;
    background-color: darkseagreen;
    /* grid-row: 1; */
    grid-column: 1 / span4;
}


.inner2{
    padding: 10px;
    background-color: rgb(195, 171, 193);
    grid-column: 1 / 2;
}

.inner3{
    padding: 10px;
    background-color: rgb(171, 195, 194);
    grid-column: 3 / 4;
}



.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #969be7 0%, #42063f 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}