body{
    background-color: rgb(207, 207, 246);
}
.center {
    text-align: center;
  }

.right {
    text-align: right;
}

#border{
    border:solid;
    border-color: rgb(198, 72, 203);
    border-width: 4px;
}

#border-left{
    border-left: solid;
    border-left-color: rgb(198, 72, 203);
    border-left-width: 4px;
}

#border-right{
    border-right: solid;
    border-right-color: rgb(198, 72, 203);
    border-right-width: 4px;
}


#border-top{
    border-top: solid;
    border-top-color: rgb(198, 72, 203);
    border-top-width: 4px;
}

#border-bottom{
    border-bottom: solid;
    border-bottom-color: rgb(198, 72, 203) ;
    border-bottom-width: 4px;
}

#border-radius{
    border: solid;
    border-color:cadetblue;
    border-width: 4px;
    border-radius: 40px;
}

#border-radius-sides{
    border: solid;
    border-color: cadetblue;
    border-width: 3px;
    border-radius: 10% 25% 40%;
}

.tiledBackground {
    background-image: url(https://assets.stickpng.com/images/580b57fcd9996e24bc43c31c.png);
    background-size:50px;
    width: 500px;
    height: 300px;
    border: 5px solid;
    color: pink;
  }

#color{
    color: indigo;
}

#font{
    font: italic 1.25em "Fira Sans", serif;
}

#font-family{
    font-family:cursive
}

#font-style{
    font-family: cursive;
    font-style: italic
}

#lighter{
    font-weight: lighter;
}

#normal{
    font-weight: normal;
}

#bold{
    font-weight: bold;
}

#bolder{
    font-weight: bolder;
}

#width_height{
    border: 4px solid powderblue;
    width: 50%;
    height: 70%;
}

#list_style{
    list-style: lower-roman;
}

#margin{
    margin: 1em;
}

#padding{
    padding: 10px 50px 20px;
}

#hidden{
    background-color: hotpink;
    width: 200px;
    height: 65px;
    border: 1px solid;
    margin-bottom: 1rem;
    overflow: hidden;
}

#visible{
    background-color: hotpink;
    width: 200px;
    height: 65px;
    border: 1px solid;
    margin-bottom: 4rem;
    overflow: visible;
}

.p{
    color: navy
}

#inline{
    display: inline;
}

#block{
    display: block;
}

#inline_block{
    display: inline-block;
}

.static{
    position: static;
    border: 3px solid #FF69B4;
}

.relative{
    position: relative;
    border: 3px solid #FF69B4;
    left: 30px;
}

.relative{
    position: relative;
    border: 3px solid #FF69B4;
    left: 30px;
}

.fixed{
    position: relative;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #FF69B4;
}

.absolute{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #FF69B4;
    margin: 8rem;
}

.img{
    height: 200px;
    width: 200px;
    filter: grayscale();
}